{% extends 'base_table.html' %}

{% block breadcrumb %}
<li class="breadcrumb-item active">Boards</li>
{% endblock %}

{% block table-head %}
<tr>
  <th class="p-2 col-2" colspan=4>
    Boards
  </th>
</tr>
{% endblock %}

{% block table-body %}
{% for board in boards %}
<tr>
  <td class="col-6 align-middle">
    <a href="{% url 'boards_show' board.pk %}">{{ board.title }}</a>
    <small class="text-muted d-block">{{ board.description }}</small>
  </td>
  <td class="col-2 align-middle">
    <small class="d-block">{{ board.thread_count }} thread{{ board.thread_count|pluralize }}</small>
    <small class="d-block">{{ board.post_count }} post{{ board.post_count|pluralize }}</small>
  </td>
  <td class="col align-middle">Latest post: {{ board.last_update }}</td>
  {% if perms.forum.delete_board %}<td class="col-1 align-middle">
    <form action="{% url 'boards_delete' board.pk %}" method="post">
      {% csrf_token %}
      <input class="btn btn-danger btn-sm" value="Delete" type="submit">
    </form>
  </td>{% endif %}
</tr>
{% endfor %}
{% endblock %}

{% block table-after %}
{% if perms.forum.add_board %}
<div class="my-4 text-right">
  <a href="{% url 'boards_new' %}" class="btn btn-primary">New board</a>
</div>
{% endif %}
{% endblock %}