{% extends 'base_table.html' %}

{% block breadcrumb %}
<li class="breadcrumb-item active">Boards</li>
{% endblock %}

{% block table-head %}
<tr>
  <th class="p-2 col-2" colspan=3>
    Boards
  </th>
</tr>
{% endblock %}

{% block table-body %}
{% for board in boards %}
<tr>
  <td class="col-6 align-middle">
    <a href="{% url 'boards_show' board.pk %}">{{ board.title }}</a>
    <small class="text-muted d-block">{{ board.description }}</small>
  </td>
  <td class="col-3 align-middle">
    <small class="d-block">{{ board.thread_count }} thread{{ board.thread_count|pluralize }}</small>
    <small class="d-block">{{ board.post_count }} post{{ board.post_count|pluralize }}</small>
  </td>
  <td class="col-3 align-middle">Latest post: {{ board.last_update }}</td>
</tr>
{% endfor %}
{% endblock %}