{% extends 'base_card.html' %}
{% load widget_tweaks %}

{% block title %}Start a new board - {{ block.super }}{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'boards' %}">Boards</a></li>
<li class="breadcrumb-item active">New board</li>
{% endblock %}

{% block card-title %}New board{% endblock %}

{% block card-body %}
<form method="post" novalidate>
  {% csrf_token %}
  {% include 'includes/form.html' %}
  <div class="pull-right">
    <a href="{% url 'boards' %}" class="btn btn-secondary">Cancel</a>
    <button type="submit" class="btn btn-success">Create</button>
  </div>
</form>
{% endblock %}