{% extends 'base_table.html' %}

{% block title %}
{{ board.title }} - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'boards' %}">Boards</a></li>
<li class="breadcrumb-item active">{{ board.title }}</li>
{% endblock %}

{% block table-head %}
<tr>
  <th class="p-2 col-6 text-nowrap">Thread / Starter</th>
  <th class="p-2 col-2 text-nowrap">Replies</th>
  <th class="p-2 col text-nowrap" colspan=2>Last Reply</th>
</tr>
{% endblock %}

{% block table-body %}
{% for thread in board.threads.all %}
<tr>
  <td class="align-middle">
    <a href="{% url 'threads_show' thread.pk %}">{{ thread.title }}</a>
    <small class="muted d-block">{{ thread.created_by.username }}</small>
  </td>
  <td class="align-middle">{{ thread.posts.all|length }}</td>
  <td class="align-middle">
    {% with last_post=thread.posts.all|dictsort:"updated_at"|last %}
    {{ last_post.updated_at }}
    {% endwith %}
  </td>
  {% if perms.forum.delete_thread %}<td class="align-middle">
    <form action="{% url 'threads_delete' thread.pk %}" method="post">
      {% csrf_token %}
      <input class="btn btn-danger btn-sm" value="Delete" type="submit">
    </form>
  </td>{% endif %}
</tr>
{% endfor %}
{% endblock %}

{% block table-after %}
{% if perms.forum.add_thread %}
<div class="my-4 text-right">
  <a href="{% url 'threads_new' board_pk=board.pk %}" class="btn btn-primary">New thread</a>
</div>
{% endif %}
{% endblock %}