{% extends 'base_card.html' %}
{% load widget_tweaks %}

{% block title %}Start a new thread - {{ block.super }}{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'boards' %}">Boards</a></li>
<li class="breadcrumb-item"><a href="{% url 'boards_show' board.pk %}">{{ board.title }}</a></li>
<li class="breadcrumb-item active">New thread</li>
{% endblock %}

{% block card-title %}New thread in {{ board.title }}{% endblock %}

{% block card-body %}
<form method="post" novalidate>
  {% csrf_token %}
  {% include 'includes/form.html' %}
  <div class="pull-right">
    <a href="{% url 'boards_show' board.pk %}" class="btn btn-secondary">Cancel</a>
    <button type="submit" class="btn btn-success">Post</button>
  </div>
</form>
{% endblock %}