{% extends 'base_table.html' %}

{% block notifications %}
{% if logged_out %}
<p class="alert alert-primary my-4">Logged out.</p>
{% endif %}
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item active">Boards</li>
{% endblock %}

{% block table-head %}
<tr>
  <th class="p-2 col-2" colspan=3>
    Boards
  </th>
</tr>
{% endblock %}

{% block table-body %}
{% for board in boards %}
<tr>
  <td class="col-6 align-middle">
    <a href="{% url 'board_topics' board.pk %}">{{ board.name }}</a>
    <small class="text-muted d-block">{{ board.description }}</small>
  </td>
  <td class="col-3 align-middle">
    <small class="d-block">{{ board.topic_count }} topic{{ board.topic_count|pluralize }}</small>
    <small class="d-block">{{ board.post_count }} post{{ board.post_count|pluralize }}</small>
  </td>
  <td class="col-3 align-middle">Latest post: {{ board.last_update }}</td>
</tr>
{% endfor %}
{% endblock %}