<ol class="breadcrumb bg-transparent p-2 my-4">
  <li class="breadcrumb-item active">Boards</li>
</ol>

<div class="card overflow-hidden table-responsive-md">
  <table class="table table-striped mb-0">
    <thead class="thead-dark">
      <tr>
        <th class="p-2 col-2" colspan=3>
          Boards
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="col-6 align-middle">
          <a href="#">Title</a>
          <small class="text-muted d-block">Description</small>
        </td>
        <td class="col-3 align-middle">
          <small>0 topics</small><br/>
          <small>0 posts</small>
        </td>
        <td class="align-middle">Never</td>
      </tr>
    </tbody>
  </table>
</div>