{% extends 'base_table.html' %}
{% load widget_tweaks %}

{% block title %}
{{ thread.title }} - {{ thread.board.title }} - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'boards' %}">Boards</a></li>
<li class="breadcrumb-item"><a href="{% url 'boards_show' thread.board.id %}">{{ thread.board.title }}</a></li>
<li class="breadcrumb-item active">{{ thread.title }}</li>
{% endblock %}

{% block table-head %}
<tr>
  <th class="p-2 col-3">
    Author
  </th>
  <th class="p-2 col" colspan=2>
    Thread: {{ thread.title }}
  </th>
</tr>
{% endblock %}

{% block table-body %}
{% for reply in thread.posts.all %}
<tr>
  <td class="text-center">
    <p class="font-weight-bold">{{ reply.created_by.username }}</p>
  </td>
  <td>
    <p class="small">Posted: {{ reply.created_at }}</p>
    <p class="white-space-pre">{{ reply.message }}</p>
    <p class="small">
      {% if reply.updated_at|date:"YmdHis" > reply.created_at|date:"YmdHis" %}Updated by {{ reply.updated_by }} on
      {{ reply.updated_at }}{% endif %}
    </p>
  </td>
  {% if perms.forum.delete_post %}<td><button class="btn btn-danger btn-sm">Delete</button></td>{% endif %}
</tr>
{% endfor %}
{% endblock %}

{% block table-after %}
{% if perms.forum.add_post %}
<div class="card bg-light my-4">
  <div class="card-header bg-dark text-light font-weight-bold p-2">Reply to thread</div>
  <form action="{% url 'posts_new' %}?thread_id={{ thread.pk }}" method="post" class="card-body" novalidate>
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <button type="submit" class="btn btn-primary pull-right">Post</button>
  </form>
</div>
{% endif %}
{% endblock %}