{% extends 'base.html' %}

{% block title %}
Login - {{ block.super }}
{% endblock %}

{% block notifications %}
{% if form.errors %}
<p class="alert alert-warning my-4">Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
{% if user.is_authenticated %}
<p class="alert alert-warning my-4">Your account doesn't have access to this page. To proceed,
  please log in with an account that has access.</p>
{% else %}
<p class="alert alert-secondary my-4">Please log in to see this page.</p>
{% endif %}
{% endif %}
{% endblock %}

{% block breadcrumb-header %}{% endblock %}

{% block content %}
<div class="card bg-light my-4 col-sm-6 mx-auto">
  <div class="card-body">
    <form class="my-2" method="post" action="{% url 'login' %}">
      {% csrf_token %}
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password">
      </div>
      <input class="btn btn-lg btn-block btn-success" type="submit" value="Log in" name="login" />
      <input type="hidden" name="next" value="{{ next }}" />
    </form>

    {# Assumes you setup the password_reset view in your URLconf #}
    <p class="mt-4 text-right"><a href="{% url 'password_reset' %}">Lost password?</a></p>
  </div>
</div>
{% endblock %}
