{% extends 'base.html' %}

{% block title %}
Logged out - {{ block.super }}
{% endblock %}

{% block breadcrumb-header %}{% endblock %}

{% block content %}
{% if validlink %}
<div class="card bg-light my-4 col-sm-6 mx-auto">
  <div class="card-body text-center">
    <p>Please enter (and confirm) your new password.</p>
    <form class="my-2" action="" method="post">
      {% csrf_token %}

      <div class="form-group">
        <label for="new_password1">Enter new password</label>
        <input type="text" class="form-control" id="new_password1" name="new_password1">
      </div>

      <div class="form-group">
        <label for="new_password2">Re-enter new password</label>
        <input type="text" class="form-control" id="new_password2" name="new_password2">
      </div>

      <input class="btn btn-lg btn-block btn-success" type="submit" value="Login" name="login" />
    </form>
    {% else %}
    <h1>Password reset failed</h1>
    <p>The password reset link was invalid, possibly because it has already been used. Please request a new password
      reset.</p>
  </div>
</div>
{% endif %}
{% endblock %}