{% extends 'base.html' %}

{% block title %}
Logged out - {{ block.super }}
{% endblock %}

{% block breadcrumb-header %}{% endblock %}

{% block content %}
<div class="card bg-light my-4 col-sm-6 mx-auto">
  <div class="card-body text-center">
    <p>We've emailed you instructions for setting your password. If they haven't arrived in a few minutes, check your
      spam folder.</p>

    <p class="mt-4 text-right"><a href="{% url 'login' %}">Return to login</a></p>
  </div>
</div>
{% endblock %}