{% extends 'base.html' %}

{% block title %}
Reset password - {{ block.super }}
{% endblock %}

{% block notifications %}
{% if form.email.errors %}
<p class="alert alert-warning my-4">
  {{ form.email.errors }}
</p>
{% endif %}
{% endblock %}

{% block breadcrumb-header %}{% endblock %}

{% block content %}
<div class="card bg-light my-4 col-sm-6 mx-auto">
  <div class="card-body">
    <form action="" method="post">
      {% csrf_token %}

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email">
      </div>

      <input type="submit" class="btn btn-primary btn-lg btn-block" value="Reset password">
    </form>

    <p class="mt-4 text-right"><a href="{% url 'login' %}">Return to login</a></p>
  </div>
</div>
{% endblock %}